body {
    margin: 0;
    padding: 0;
    
}
header p {
    text-align: center;
    font-weight: 200;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 6px;
    font-size: 25px;
    margin-top: 60px;
}

header a {
    text-decoration: none;
    color: black;
}

header h6 {
    text-align: center;
    font-weight: 200;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: gray;
    letter-spacing: 2px;
    position: relative;
    bottom: 15px;
    font-size: 10px;
}

main {
    min-height: 100vh;
    margin-bottom: -21rem;
}

footer {
    background-color: #2e2a2a;
    width: 100vw;
    height: 22rem;
}

.push {
    height: 20rem;
}

.background {
width: 100vw;
height: 135vh;
}

.front {
    width: 70vw;
    position: absolute;
    left: 16%;
    bottom: -40vh;
}

.contact {
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 20px;
    position: absolute;
    top: 200px;
    left: 51vw;
}

.projects {
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 20px;
    position: absolute;
    top: 200px;
    left: 39vw;
}

a:hover {
color: gray;
}

.fb {
    width: 40px;
    height: 40px;
    filter: invert(80%);
    position: relative;
    left: 45vw;
    top:100px
}

.insta {
    width: 40px;
    height: 40px;
    filter: invert(70%);
    position: relative;
    left: 45vw;
    top:100px
}

.email {
    width: 40px;
    height: 40px;
    filter: invert(100%);
    position: relative;
    left: 45vw;
    top:100px
}

.proj-img {
    width: 100vw;
}

h1 {
    text-align: center;
    font-weight: 100;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    padding-top: 100px;
    padding-bottom: 15px;
}

h5 {
    text-align: center;
    color: orange;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

hr {
    margin: 60px;
}

h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.albums {
    display: block;
    width: 17vw;
    position: relative;
    left: 40.5vw;
    padding-bottom: 20px;
    
}

.songs {
    margin-left: 7vw;
    padding-top: 20px;
}

.song-titles {
    color: #8a90a1;
    font-weight: 100;
}

.artists {
    margin-left: 7vw;
    color: black;
    font-weight: 100;
    padding-top: 10px;
}

.desc {
    text-align: center;
    color: gray;
}

.contact-mail {
    color: #8a90a1;
}

.studio {
    width: 60vw;
    position: relative;
    left: 260px;
    padding-bottom: 150px;

}